Style:
html body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 13px;
  font-family: Arial;
}

ul {
  list-style-type: none;
  margin:0;
}

li {
  display: inline;
  color: #222;
  margin-right: 20px;
  margin-left: 20px;
}

.leftlist{
  float: left;
}
.rightlist{
  float: right;
}

.navbar .leftlist{
  height: 40px;
  display:flex;
  align-items: center;
}

.navbar{
  padding: 15px;
  height: 40px;
}

img {
  display: inline-block;
  margin: 0, auto;
  vertical-align: middle;
}

#signinlogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#googlelogo {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 300;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 600px;
  height: 3em;
  background-color;
  padding-left: 16px;
  /* font-size: 20px; */
  border: 1px;
  box-shadow: 0 2px 6px #bfbfbf;
}

button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: rgb(117, 117, 117);
  background-color:rgb(242, 242, 242);
  height: 3em;
  width: 160;
  margin: 0 8;
  /* font-size: 18px; */
  border: 2px;
  border-radius: 4px;
}

.b_container {
  text-align:center;
}

a {
  color: #222;
  font-style: none;
  font-family: Arial;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: rgba(0,0,0,.54);
  border-top: 1px solid #d2d2d2;
  height: 1.3em;
  padding: 10px 0;
  /* vertical-align: middle; */
  /* font-size: 20px; */
}

.foot{
  color: #777;
}

.foot .rightlist {
  padding-right: 25px;
}
